body {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  color: #333;
}

table, tr, td {
  border-collapse: collapse;
}

#board {
  margin: 20px;
  cursor: pointer;
}

.col {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  text-align: center;
  color: #333;
}
.col:first-child {
  border-left: 2px solid #ccc;
}
.col:nth-child(5n+1) {
  border-right: 2px solid #ccc;
}
.col:nth-child(1) {
  border-right: 2px solid #ccc;
}

.row:first-child .col {
    border-top: 2px solid #ccc;
}
.row:nth-child(5n+1) .col {
  border-bottom: 2px solid #ccc;
}
.row:nth-child(1) .col:nth-child(n+1) {
  border-bottom: 2px solid #ccc;
}

.col.xBlocks {
  width: auto;
  text-align: right;
}
.col.yBlocks {
  vertical-align: bottom;
}

.block {
  display: inline-block;
  font-size: 13px;
  padding-top: 2px;
  width: 20px;
  text-align: center;
}
.block.crossed {
  color: #ccc;
  text-decoration: line-through;
}

.col.title {
  text-align: center;
}

.indicator {
  font-size: 12px;
  font-weight: bold;
  padding-top: 2px;
  color: #aaa;
}
.indicator.solvable {
  color: #268bd2;
}

.cell {
  width: 20px;
  height: 19px;
  padding-top: 1px;
  color: #666;
}
.col {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cell.on {
  background: #9CC222;
}
.cell.off {
  content: '•';
}

.marker {
  height: 20px;
  width: 20px;
}
.marker.marked {
  background: #93a1a1;
}
